* {
  box-sizing: border-box;
}

main {
  width: 100%;
  padding-top: 7%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: xx-large;
}

h3 {
  justify-content: center;
  align-items: center;
  display: flex;
}
#itemAdder {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  align-items: center;
  font-size: x-large;
}

#formLabel {
  margin-left: 5px;
  margin-right: 5px;
}

#listEntry {
  margin-left: 5px;
  margin-right: 5px;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  text-align: center;
  line-height: 1.1;
  cursor: pointer;
  font-size: large;
  color: #fff;
  background: #cdb4db;
  border: 2px solid #cdb4db;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  transition: 220ms all ease-in-out;
}

.btn:hover {
  background-color: #e3cff5;
}

.btn:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 4px #f3e8ff;
}

.btn:active {
  background-color: #e3cff5;
}

.deleteBtn {
  margin-left: 10px;
  margin-right: 5px;
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  text-align: center;
  line-height: 1.1;
  cursor: pointer;
  font-size: large;
  color: #fff;
  background: #ffc8dd;
  border: 2px solid #ffc8dd;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  transition: 220ms all ease-in-out;
}

.deleteBtn:hover {
  background-color: #ffddf0;
}

.deleteBtn:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 4px #ffe8f6;
}

.deleteBtn:active {
  background-color: #ffddf0;
}

#taskSection {
  padding-top: 15px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

ul {
  list-style-type: none;
}

ul li {
  cursor: pointer;
  position: relative;
  display: block;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: 0.2s;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 1.1;
  margin-top: 1em;
}

input[type="checkbox"] {
  appearance: none;
  border: 1px solid #a2d2ff;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  vertical-align: middle;
  text-align: center;
}

input[type="checkbox"]:checked {
  background-color: #cdb4db;
}

input[type="checkbox"]:checked:after {
  content: "\2713";
  color: white;
}

input[type="checkbox"]:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 4px #ffc8dd;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

form input {
  width: 10%;
  padding-top: 9px;
  padding-bottom: 9px;
  border: 2px solid #bde0fe;
  border-radius: 4px;
}

form input:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 4px #bde0fe;
}

form input:active {
  border-color: #ffafcc;
}
