* {
  box-sizing: border-box;
}

main {
  width: 100%;
  padding-top: 7%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: xx-large;
}

h3 {
  justify-content: center;
  align-items: center;
  display: flex;
}
#itemAdder {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  align-items: center;
  font-size: x-large;
}

#formLabel {
  margin-left: 5px;
  margin-right: 5px;
}

#listEntry {
  margin-left: 5px;
  margin-right: 5px;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  text-align: center;
  line-height: 1.1;
  cursor: pointer;
  font-size: large;
  color: #fff;
  background: #0099cc;
  border: 2px solid #0099cc;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  transition: 220ms all ease-in-out;
}

.btn:hover {
  background-color: #40bfff;
}

.btn:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 4px #66c9ff;
}

.btn:active {
  background-color: #40bfff;
}

#taskSection {
  padding-top: 15px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

ul {
  list-style-type: none;
}

ul li {
  cursor: pointer;
  position: relative;
  display: block;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: 0.2s;
  margin: 0 auto;
}

ul li:hover {
  background: #ddd;
}

#deleteButton {
  border: 2px solid red;
  margin-left: 10px;
  margin-right: 5px;
  padding: 6px 14px;
  cursor: pointer;
  font-size: large;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

form input {
  width: 10%;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 2px solid black;
  border-radius: 4px;
}

form input:focus {
  border-color: bisque;
}

ul li input {
  margin-right: 10px;
}
